    <h2>Centre d'affectation</h2>
    <div *ngIf="error" class="alert alert-danger">{{message}}  </div>
    <div *ngIf="success" class="alert alert-success">l'affectation est terminée avec success  </div>

    <div class="row corp">
  <form [formGroup]="formAffecter" class=" col-md-3" (ngSubmit)="onSubmit()">
    <!-- date debut et fin -->
    <div class="form-group  ">
      <label>Date du début</label>
      <input type="date"  class="form-control"  
      formControlName="dateDebut" [ngClass]="{ 'is-invalid': submitted && f.dateDebut.errors }" 
      id="dateDebut">
      </div>
      <div class="form-group  ">
          <label>Date du fin</label>
          <input type="date"  class="form-control"  
          formControlName="dateFin" [ngClass]="{ 'is-invalid': submitted && f.dateFin.errors }" 
          id="dateFin">
          </div>
      <!-- fin -->
      <!-- debut des select -->
      <div class="form-group">
          <label for="specialite" >compte à effecter</label>
          <select  class="form-control" placeholder="compte à affecter" formControlName="compteAffecter" 
          [ngClass]="{ 'is-invalid': submitted && f.compteAffecter.errors }">
             <option  *ngFor="let compte of comptes"
             [value]="compte['@id']" >{{ compte.numeroCompte }}</option> 
          </select>
           <div *ngIf="submitted && f.compteAffecter.errors" class="invalid-feedback alert alert-danger">
           <div *ngIf="f.compteAffecter.errors.required">obligatoire</div>
         </div> 
        </div>
        <div class="form-group">
          <label for="specialite" >choisir le affecter</label>
          <select  class="form-control" formControlName="userAffecter" 
          [ngClass]="{ 'is-invalid': submitted && f.userAffecter.errors }">
             <option  *ngFor="let user of users"
             [value]="user['@id']" >{{ user.username }}</option> 
          </select>
          <div *ngIf="submitted && f.userAffecter.errors" class="invalid-feedback alert alert-danger">
           <div *ngIf="f.userAffecter.errors.required">obligatoire</div>
         </div> 
        </div>
      <!-- fin -->
    <button type="submit"  class="btn btn-primary btn-block ">Enregistrer</button>
</form>
<table class="table table-striped  col-md-8 table-responsive">
<thead class="thead">
    <tr>
        <th>Compte</th>
        <th> Affecté</th>
        <th> Affectant</th>
        <th>Début</th>
        <th>Fin</th>
        <th>delete</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let affecter of affecters | paginate:{itemsPerPage: 5, currentPage: p }">
     <td scope="row">{{affecter.compteAffecter.numeroCompte}}</td>
        <td scope="row">{{affecter.userAffecter.username}}</td>
        <td scope="row">{{affecter.userQuiAffecte.username}}</td>
        <td scope="row">{{affecter.dateDebut | date: 'dd/MM/yyyy'}}</td>
        <td scope="row">{{affecter.dateFin | date: 'dd/MM/yyyy'}}</td>
        <td>
          <button (click)="onDelete(affecter.id)"  class="btn btn-outline-danger ">
            <i class="fas fa-trash"></i>  </button>
       </td>
    </tr>

</tbody>
<div id="pagination">
  <pagination-controls (pageChange)="p=$event"></pagination-controls>
  </div>  
</table>

</div>
