<h2>Création de compte d'un  partenaire existant</h2>
<div class="offset-md-2 col-md-8">
                                         <!-- si le compte est ok -->
                                         <div [style.display]="success ? 'block' : 'none'" class="modal">
                                          <div class="modal-dialog modal-md  ">
                                            <div class="modal-content">
                                              <div class="modal-body">
                                                <p [style.color]="setCouleur('green')" class="alert alert-success">
                                                   Compte enregistre avec succés ! <br> votre numéro compte est: {{numeroCompte}}</p>            
                                                <button type="button" class="btn btn-success" data-dismiss="modal"
                                                 (click) = "setSuccess()">Close</button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <!-- fin  -->
             <!-- si le compte nexiste pas -->
             <div [style.display]="noPartenaire ? 'block' : 'none'" class="modal">
              <div class="modal-dialog modal-md  ">
                <div class="modal-content">
                  <div class="modal-body">
                    <p [style.color]="setCouleur('red')">
                       Désolé ce partenaire n'existe pas !</p>            
                    <button type="button" class="btn btn-danger" data-dismiss="modal"
                     (click) = "setNoPartenaire()">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- fin  -->
           <!-- si le user n'est pas autorisé pas -->
           <div [style.display]="error ? 'block' : 'none'" class="modal">
            <div class="modal-dialog modal-md  ">
              <div class="modal-content">
                <div class="modal-body">
                  <p [style.color]="setCouleur('red')">{{message}}</p>            
                  <button type="button" class="btn btn-danger" data-dismiss="modal"
                   (click) = "setError()">Close</button>
                </div>
              </div>
            </div>
          </div>
          <!-- fin  -->          
<form [formGroup]="formCompte" (ngSubmit)="onSubmit()">
    <fieldset class="scheduler-border">
        <legend class="scheduler-border"></legend><br>
      <div class="form-group  offset-md-1">
        <input type="number"   class="form-control" formControlName="solde" [ngClass]="{ 'is-invalid': submitted && f.solde.errors }"
         aria-describedby="helpId" placeholder="Solde" >
         <div *ngIf="submitted && f.solde.errors" class="invalid-feedback alert alert-danger">
          <div *ngIf="f.solde.errors.required">solde is required</div>
          <div *ngIf="f.solde.errors.min "> la solde doit etre superieur  ou égale 500 000 </div>
          <div *ngIf="f.solde.errors.max "> la solde doit etre inferieur ou égale à 2 000 000 </div>
        </div>
      </div>
      <!-- information du partenaire -->
      <div class="form-group  offset-md-1">
        <input type="text"
          class="form-control" formControlName="ninea" name="" id="" aria-describedby="helpId"
           placeholder="ninea" [ngClass]="{ 'is-invalid': submitted && f.ninea.errors }">
           <div *ngIf="submitted && f.ninea.errors" class="invalid-feedback alert alert-danger">
            <div *ngIf="f.ninea.errors.required">obligatoire</div>
            <div *ngIf="f.ninea.errors.minlength">ninea minimum 10 caractères</div>
          </div>
        </div>
      </fieldset>
      <button type="submit"  class="btn btn-primary btn-block ">Enregistrer</button>
</form>
</div>